*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding: 1rem;
    width: 100%;
}
#logo{
    width: 3rem;
}
.headerleft{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 0.5rem;
  font-size: 1.6rem;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headerright{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.1rem;
    }
 .link{
    color: white;
    text-decoration: none;
   list-style: none;
 }   
 .mainimage{
    width:100%;
 }
 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
 }
 .points{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    gap: 5rem;
 }
 .content{
    display: flex;
    flex-direction: column;
    
 }
 .image{
    width: 10rem;
 }
 .first{
    background-color: rgb(117, 36, 199);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 250px;
    font-size: 25px;
 }
 .gotquestions{
   padding: 2rem;
   display: flex;
   justify-content: center;
   
 }
 .questions{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   background-color: rgb(255, 255, 255);
   border: none;
   transition: all ease-in 0.2s;
 }
.questions:hover{
   background-color: rgb(152, 152, 152);
}
.lastsection{
   background-color:  rgb(117, 36, 199);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}
#free{
   border-radius: 2rem;
   padding: 1rem;
   font-weight:900;
}
#logo1{
   width:30px;
}
footer{
   background-color: black;
   width: 100%;
   height: 350px;
}
.footerlogo{
color: white;
display: flex;
align-items: center;
padding-top: 2rem;
}

.link{
   color: white;
}

.footer1{
   color: rgb(170, 168, 168);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   text-decoration: none;

}